* {
    margin: 0%;
    padding: 0%;
    box-sizing: border-box;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
.cursor {
    cursor: pointer;
}


.navbar {
    display: flex;
    justify-content: center;
    margin-top: 10px;
}

.navbar-content {
    height: 80px;
    width: 80%;
    border-radius: 30px;
    background-color: rgb(255, 255, 255);
    color: #1D1D1D;
    font-size: 16px;
    font-weight: 500;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    position: fixed;
}

.header-logo {
    background-image: url(header-logo.png);
    background-size: cover;
    height: 30px;
    width: 80px;
}


.header-pages {
    margin-right: 350px; 
}
.header-pages a {
    text-decoration: none;
    font-weight: 550;
    padding-left: 20px;
    color: #1D1D1D;
}
.header-pages i {
    font-size: 10px;
}


.header-acc {
    display: flex;
    margin-right: 30px;
}
.header-acc p {
    margin-left: 10px;
    border: 2px solid #7405a7;
    padding: 12px;
    border-radius: 7px;
    font-weight: 550;
    font-size: 17px;
}


.second-last {
    color: #632082;
}
.second-last:hover {
    border-color: #401355;
}
.last {
    color: white;
    background-color: #692788;
}
.last:hover {
 background-color: #380152; 
}

/* MAIN AREA */

.main-heading {
    margin-top: 100px;
    font-size: 64px;
    font-weight: 600;
    text-align: center;
}

.supporting-heading {
    text-align: center;
    font-size: 20px;
    font-weight: 500;
}

.mid-boxes {
    display: flex;
    justify-content: center;
    margin-top: 15px;
}

.first-box {
    background-color: #611F69;
    color: white;
    padding: 15px;
    border-radius: 5px;
}
.first-box:hover {
    background-color: #380152;
}
.second-box {
    background-color: white;
    border: 1.5px solid transparent;    /* keeps space reserved */
    padding: 15px;
    border-radius: 5px;
    margin-left: 10px;
}
.second-box i {
    font-size: 13px;
}

.second-box:hover {
    border: 1.5px solid #380152; /* Fill reserved space*/
   
}

.trusted-by {
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 25px;
    font-size: 13px;
}
.trusted-by img {
    padding-left: 15px;
}
.main-video {
    display: flex;
    justify-content: center;
    margin-top: 50px;
}
.main-video video {
    height: 500px;
}

.parent-main-text {
    height: 150px;
    width: 60%;
    /* background-color: black; */
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0% auto;
    
}
.main-text {
    /* background-color: pink; */
    width: 60%;
    font-size: 18px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
}

.main-text p {
    width: 30%;
    text-align: center;
    padding: 10px;
    flex-shrink: 0;
    border: 1px solid transparent; 
    color: #481A54;
    font-weight: 600;

}
.main-text p:hover {
border: 1px solid black; /* just changes color */
background-color: #cabbd1;
border-radius: 20px;
}

.main-text i {
    font-size: 12px;
}








/* SECOND BOX OF MAIN (PURPLE) */

.main-second-box {
    background-color: #4A154B;
    color: white;
    height: 900px;
    padding-top: 40px;

}
.main-second-box h2 {
    font-size: 55px;
    text-align: center;
}
.main-second-text {
    text-align: center;
    font-size: 18px;
    padding: 40px 0px 30px 0px;
}

      /* <!-- SECOND BOX OF MAIN (PURPLE) STARTED */

.box-container2 {
    margin-top: 50px;
    display: flex;
    justify-content: space-evenly;
}

.vid {
    height: 500px;
}

.mini-list p {
    background-color: white;
    color: black;
    padding: 20px 5px 20px 5px;
    height: 83px;
    width: 490px;
    text-align: center;
    font-size: 18px;
    font-weight: 550;

}

.mini-list p:hover {
    background-color: #eed8f9;
}
      /* <!-- XXXXXXXXXXXXXXXXXXX SECOND BOX OF MAIN (PURPLE) ENDED XXXXXXXXXXXXXXXXXXX --> */




/* <!-- STICKY HEADER STARTED */
.sticky-header {
    width: 25%;
    height: 50px;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    border-radius: 20px;
    background-color: #f2dbff;
    margin: 0% auto;
    position: sticky;
    top: 92px;
    margin-top: 20px;
}
.sticky-header p {
    padding: 8px;
    border-radius: 15px;
    font-size: 20px;
    font-weight: 550;
}
.sticky-header p:hover {
    background-color: #E5B9FE;
}
      /* <!-- XXXXXXXXXXXXXXXXXXX STICKY HEADER ENDED XXXXXXXXXXXXXXXXXXX --> */

      /* <!-- AFTER STICKY CONTENT */

.after-sticky-heading {
    margin-top: 30px;
    font-size: 58px;
    color: #6E0196;
    text-align: center;
}


.after-sticky-text {
    text-align: center;
    font-size: 18px;
    margin-bottom: 30px;
}
      /* <!-- XXXXXXXXXXXXXXXXXXX AFTER STICKY HEADER CONTENT ENDED XXXXXXXXXXXXXXXXXXX --> */

      /* <!-- FAQ TYPE CONTENT START*/

.faq-type h2{
    color: #481A6F;
    font-size: 30px;
}
.faq-type h2:hover {
    color: #9602C7;
}

.faq-type p {
    padding: 15px 0px 15px 0px;
    font-size: 18px;
}

.faq-type a {
    font-size: 18px;
    color: #1264A3;
    text-decoration: none;
}
.faq-type i {
    font-size: 14px;
}

.time {
    font-size: 86px;
    font-weight: 600;
    color: #481A54;
}
.time-content {
    font-size: 22px;
    color: #481A54;
    font-weight: 600;
}
            /* <!-- XXXXXXXXXXXXXXXXXXX FAQ TYPE CONTENT ENDED XXXXXXXXXXXXXXXXXXX --> */


            /* LAST BOX STARTED */

.last-box {
    height: 500px;
    background-color: #481A54;
    color: white;
}
.last-box h2 {
    font-size: 50px;
    color: white;
    text-align: center;
    padding: 6rem 0 4rem;
}

.last-box-numbers {
    display: flex;
    justify-content: space-evenly; 
}
.number {
    color: #D17DFE;
    font-size: 80px;
    font-weight: 600;
}
.result {
    font-size: 25px;
    text-align: center;
    font-weight: 600;
}
            /* <!-- XXXXXXXXXXXXXXXXXXX LAST BOX ENDED XXXXXXXXXXXXXXXXXXX --> */
        
            /* <!-- ARTICLE SECTION STARTED --> */


.article-top-content {
    background-color: #ffecec;
    font-size: 40px;
    font-weight: 550;
    padding: 20px 0px 20px 0px;
    text-align: center;
}


/* articles  */
.article {
    background-color: #ffecec;
    display: flex;
    justify-content: space-evenly;
}
.main-article {
    background-color: #ffffff;
    padding: 10px;
    transform: scale(1.05) hidden;
    transition: transform 0.4s ease-in-out; 
/* 
    transition → “Animate changes to a property instead of snapping instantly.”
    transform → the property animating (in this case, scale when hovering).
    0.5s → the duration of the animation
*/
}
.main-article:hover {
    transform: scale(1.05); /* grows 5% bigger */
    box-shadow: 0 8px 20px rgba(0,0,0,0.3);
}

.article-title {
    font-size: 25px;
    font-weight: 600;
    padding: 5px 0px 40px 0px;
    padding-bottom: 30px;
}
.article-link {
    color: #1264a3;
    font-size: 15px;
    font-weight: 600;
    
}
.article-link i {
    font-size: 14px;
}

.fy-info {
    color: #100f0ffd;
    padding: 60px 0px 60px 100px;
    background-color: #ffecec;
}

      /* <!-- ARTICLE SECTION ENDED -->

      <!-- LAST TEXT BEORE FOOTER STARTED --> */
.before-footer {
    height: 250px;
    background-color: #4A154B;
}
.bf-text {
    padding-top: 70px;
    font-size: 45px;
    font-weight:550;
    text-align: center;
    color: white;
}
.bf-boxes {
    display: flex;
    justify-content: center;
    font-size: 18px;  
    font-weight: 549; 
    padding-top: 20px;

}
.bf-box1 {
    padding: 10px 15px 10px 15px;
    color: #4A154B;
    background-color: white;
    
}
.bf-box2 {
    padding: 10px 15px 10px 15px;
    background-color: #4A154B;
    color: white;
    border: 1px solid white;
    margin-left: 10px;
}
.bf-box1:hover {
    background-color: rgb(248, 244, 244);
}

/* XXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXX END OF MAIN XXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXX */



/* XXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXX FOOTER XXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXX */

.footer {
    height: 400px;
    background-color: pink;
    display: flex;
    justify-content: space-evenly;
    padding-top: 30px;
}

.footer-logo {
    background-image: url(footer-logo.svg);
    background-size: cover;
    height:60px;
    width: 60px;
}

.footline p {
    padding: 5px 0px 5px 0px;
}
/* copyright side --- last footer */

.last-footer {
    height: 70px;
    background-color: #faf0fe;
    display: flex;
    justify-content: space-around;
    align-items: center;

}

.start p{
    display: inline-block;
    padding-left: 10px;
}